<!DOCTYPE html>
<html>
	
	<head>
		
		<!-Basic->
		<meta charset="uft-8">
		<title>Porto - Responsive HTML5 Template 3.7.0</title>
		<meta name="keywords" content="HTML5 Template"/>
		<meta name="desciption" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-Mobile Metas->
		<meta name="viewpoint" content="width=device-width, initial-scale=1.0">

	</head>

	<body>

		<div class="body">
			<app-header></app-header>

			<div role="main" class="main">

				<router-outlet></router-outlet>

				
			</div>

			<app-footer></app-footer>
		</div>

	</body>
</html>